<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload with Validation and AJAX</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {
        // Tombol untuk memilih gambar dari penyimpanan
        $("#chooseImage").click(function () {
          $("#imageUpload").click();

          var video = document.getElementById("video");
          video.srcObject.getTracks().forEach((track) => track.stop()); // Matikan kamera
          $("#video").hide();
          $("#canvas").hide();
          $("#canvasCamera").hide();
          $("#capture").hide();
        });

        // Saat gambar dipilih dari penyimpanan
        $("#imageUpload").change(function () {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#imagePreview").show().attr("src", e.target.result);
            $("#canvas").hide();
            $("#canvasCamera").hide();
            $("#video").hide();
          };
          reader.readAsDataURL(this.files[0]);
        });

        $("#startCamera").click(function () {
          navigator.mediaDevices
            .getUserMedia({ video: true })
            .then(function (stream) {
              var video = document.getElementById("video");
              video.srcObject = stream;
              video.play();
              $("#video").show();
              $("#capture").show(); // Tampilkan tombol Capture
              $("#canvas").hide();
              $("#imagePreview").hide();
            })
            .catch(function (error) {
              console.log("Something went wrong!");
            });
        });

        $("#capture").click(function () {
          var canvas = document.getElementById("canvas");
          var video = document.getElementById("video");
          var context = canvas.getContext("2d");
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          var dataURL = canvas.toDataURL("image/png");
          $("#canvas").show();
          $("#imagePreview").attr("src", dataURL).show();
          $("#video").hide();
          $("#capture").hide();
          $("#canvasCamera").show();
          $("#canvas").hide(); // Sembunyikan tombol Capture
          video.srcObject.getTracks().forEach((track) => track.stop()); // Matikan kamera
        });

        $("#video").click(function () {
          var canvas = document.getElementById("canvas");
          var context = canvas.getContext("2d");
          context.drawImage(this, 0, 0, canvas.width, canvas.height);
          var dataURL = canvas.toDataURL("image/png");
          $("#canvas").show();
          $("#imagePreview").attr("src", dataURL).show();
          $("#video").hide();
          $("#canvas").hide();
          $("#canvasCamera").show();
          $("#capture").hide(); // Sembunyikan tombol Capture
          this.srcObject.getTracks().forEach((track) => track.stop());
        });

        $("#imageForm").submit(function (e) {
          e.preventDefault();
          var formData = new FormData();
          var fileInput = $("#imageUpload")[0];
          var file = fileInput.files[0];

          if ($("#canvasCamera").is(":visible")) {
            canvas.toBlob(function (blob) {
              formData.append("image", blob, "camera.jpg");
              sendFormData(formData);
            });
          } else if (file) {
            formData.append("image", file);
            sendFormData(formData);
          } else {
            alert("Please select an image.");
          }
        });

        function sendFormData(formData) {
          $("#loading").show();

          $.ajax({
            url: "https://orchid-pcz5zqlbka-et.a.run.app/predict",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
              $("#apiResponse").html(
                "Accuracy: " +
                  response.accuracy +
                  "%<br>" +
                  "Class ID: " +
                  response.class_id +
                  "<br>" +
                  "Class: " +
                  response.class
              );
              $("#loading").hide();
            },
            error: function (xhr) {
              $("#apiResponse").html("Error: " + xhr.statusText);
              $("#loading").hide();
            },
          });
        }
      });
    </script>
  </body>
</html>
