<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload with Validation and AJAX</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Upload Image Classification</h2>
      <form id="imageForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imageUpload">Choose Image from Storage</label>
          <input
            type="file"
            class="form-control-file"
            id="imageUpload"
            name="image"
            accept="image/*"
          />
        </div>
        <div class="form-group">
          <label>Take a Photo</label>
          <button type="button" class="btn btn-secondary" id="startCamera">
            Start Camera
          </button>
          <video
            id="video"
            width="320"
            height="240"
            autoplay
            style="display: none"
          ></video>
          <button
            type="button"
            class="btn btn-primary"
            id="capture"
            style="display: none"
          >
            Capture
          </button>
          <canvas
            id="canvas"
            width="320"
            height="240"
            style="display: none"
          ></canvas>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h3 class="mt-3">Preview</h3>
      <img
        id="imagePreview"
        src="#"
        alt="Image Preview"
        class="img-fluid"
        style="display: none"
      />

      <h3 class="mt-3">API Response</h3>
      <div id="loading" style="display: none">
        <p>Loading...</p>
      </div>

      <pre id="apiResponse"></pre>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {
        // Fungsi untuk memeriksa ekstensi file
        function isValidImageFile(file) {
          var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i
          if (!allowedExtensions.exec(file.name)) {
            alert(
              'Invalid file type. Only JPG, JPEG, PNG, and GIF files are allowed.'
            )
            return false
          }
          return true
        }

        // Mengirim form dengan AJAX
        $('#imageForm').submit(function (e) {
          e.preventDefault()

          var fileInput = $('#imageUpload')[0]
          var file = fileInput.files[0]
          if (!file || !isValidImageFile(file)) {
            return
          }

          var formData = new FormData(this)
          formData.append('image', file)

          // Menampilkan animasi loading
          $('#loading').show()
          console.log(formData)
          $.ajax({
            url: 'https://flask-ml-predict-pcz5zqlbka-uc.a.run.app/predict',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
              console.log(response)
              // Menampilkan respons API
              if (
                response &&
                response.accuracy &&
                response.class &&
                response.class_id
              ) {
                var resultHtml = '<p>Class: ' + response.class + '</p>'
                resultHtml += '<p>Class ID: ' + response.class_id + '</p>'
                resultHtml += '<p>Accuracy: ' + response.accuracy + '%</p>'
                $('#apiResponse').html(resultHtml)
              } else {
                $('#apiResponse').html('Invalid response from server')
              }
              $('#loading').hide() // Menyembunyikan animasi loading
            },
            error: function (response) {
              console.log(response)
              var errorMessage = response.status + ': ' + response.statusText
              $('#apiResponse').html('Error - ' + errorMessage)
              $('#loading').hide()
            }
          })
        })

        // Menangani kamera
        $('#startCamera').click(function () {
          navigator.mediaDevices
            .getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream
              video.play()
              $('#video').show()
              $('#capture').show()
            })
            .catch(function (error) {
              console.log('Something went wrong!')
            })
        })

        $('#capture').click(function () {
          var canvas = document.getElementById('canvas')
          var context = canvas.getContext('2d')
          context.drawImage(video, 0, 0, 320, 240)
          canvas.toBlob(function (blob) {
            $('#imageUpload')[0].files[0] = blob
          })
          $('#canvas').show()
          $('#imagePreview').hide()
        })

        // Preview gambar yang diunggah
        $('#imageUpload').change(function () {
          var reader = new FileReader()
          reader.onload = function (e) {
            $('#imagePreview').attr('src', e.target.result).show()
          }
          reader.readAsDataURL(this.files[0])
        })
      })
    </script>
  </body>
</html>
